<section class="product">
    <div class="container">
    <h2 class="product-title">Product was Built Specifically for You</h2>
    <ul class="product-list">
      <li class="product-item">
        <h3 class="product-subtile">First click tests</h3>
        <p class="product-descr">While most people enjoy casino gambling,</p>
      </li>
      <li class="product-item">
        <h3 class="product-subtile">Design surveys</h3>
        <p class="product-descr">Sports betting, lottery and bingo playing for the fun</p>
      </li>
      <li class="product-item">
        <h3 class="product-subtile">Preference tests</h3>
        <p class="product-descr">The Myspace page defines the individual.</p>
      </li>
      <li class="product-item">
        <h3 class="product-subtile">Five second tests</h3>
        <p class="product-descr">Personal choices and the overall personality of the person.</p>
      </li>
    </ul>
    <button type="button" class="btn product-btn">sign up now</button>
  
  </div>
  </section>